<div class="container">
  <div class="row">
      <div class="col-md-12 offset-md-12">
        <nav class="navbar navbar-dark bg-dark">

          <div class="container">

            <a class="navbar-brand"><img src="/assets/fotos/ilerna_nav.png" width="50px"></a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-rigth mb-md-0">
              <li><a  class="nav-link px-2 text-white">About</a></li>
              <li><a  class="nav-link px-2 text-white">Team</a></li>
              <li><a  class="nav-link px-2 text-white">Contact</a></li>
            </ul>

          </div>
        </nav>


        <!-- <nav class="navbar navbar-dark bg-dark"> -->
        <div class="fondo">
        </div>
        <!-- </nav> -->





        <br>

        <div class="azul">
          <div class="container">

          <h1 class="text-center ">TEAM</h1>
          <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laudantium?</p>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/fotos/Henry.jfif">
                  <div class="card-body">
                    <h1 class="text-center ">Henry</h1>
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laudantium?</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/fotos/Johan.jpg">
                  <div class="card-body">
                    <h1 class="text-center ">Johan</h1>
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laudantium?</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/assets/fotos/pablo.jpg">

                  <div class="card-body">
                    <h1 class="text-center ">Pablo</h1>
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laudantium?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

        <br>

        <form class="">
          <h1>Contact</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laudantium?</p>
          <div class="col-md-6 my-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Icono</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6 my-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Email</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
            </div>
          </div>
          <div class="col-md-6 my-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Mesaje</div>
              </div>

              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" ></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>

        <br>

        <footer class="page-footer font-small gris">

            <div class="footer-copyright text-center py-3">© 2021 Copyright:</div>

        </footer>
      </div>
    </div>
  </div>



